<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RAMCHAIN_API_Suite" >

	<test name="API test">
		<classes>			
			
			<class name="com.supernet.api.VerifytxTest"></class>

			<class name="com.supernet.api.instantdex.OrderBookTest"></class>	
			
			<class name="com.supernet.api.instantdex.SupportsTest"></class>			
	
			
		</classes>
	</test>
</suite>
